    <div class="col-md-12">

      <div class="col-md-6"> 

        <h3>Lire la bible en <span class="label label-default">Kabyle</span></h3>

      </div>

      <div class="col-md-3" id="button-ecouterlabible-en-kabyle">

       <a href="/BibleEnKabyle/ecoute/" >
       {% if ecoute_lecture %}
       <button type="button"  class="btn btn-default btn-lg col-lg-12  disabled">
       {% else %}
       <button type="button"  class="btn btn-default btn-lg col-lg-12">

       {% endif %}





       Ecouter la bible en kabyle</button> </a>

     </div>

     <div class="col-md-3" id="button-ecouterlabible-en-kabyle">

       <a href="/BibleEnKabyle/lecture/">
      {%if ecoute_lecture %}
         <button type="button" class="btn btn-default btn-lg col-lg-12">Lire la bible en kabyle</button> 
      {% else %}
      <button type="button" class="btn btn-default btn-lg col-lg-12 disabled">Lire la bible en kabyle</button> 

      {%endif%}


         </a>

       </div>

     </div>
     <div class="col-sm-8 col-md-12">
      <br>
      <br>
      <p>some text ou n improrte quoi some text ou n improrte quoi some text ou n improrte quoi some text ou n improrte quoi some text ou n improrte quoi some text ou n improrte quoi some text ou n improrte quoi some text ou n improrte quoi some text ou n improrte quoi some text ou n improrte quo
      </p>
      <br>
      <br>
      <p>
        <div class="col-md-12">
        <form action="{% url 'BibleEnKabyle:BibleEnKabyle' ecoute_lecture='lecture' %}" method="post">

          <div class="col-md-4">
            <div class="input-group-lg">
              <input type="text" id="texte_saisi" class="form-control" placeholder="Saisir le nom ici ...">
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group-button">
              <span class="input-group btn-group-lg">
              <!-- Forms  -->
              
                <button class="btn btn-primary" type="button submit">Rechercher</button>
 



              </span>
            </div>
          </div><!-- /input-group -->
                          {% csrf_token %}
              </form> 

        </div><!-- /.col-lg-6 -->

        <br>
        <br><br>
        <br>
      </p>
    </div>