<div class="col-md-12">

  <div class="col-md-6"> 

    {% if ecoute_lecture %}

    <h3>Ecouter la bible en <span class="label label-default">Kabyle</span></h3>

    {% else %}

    <h3>Lire la bible en <span class="label label-default">Kabyle</span></h3>

    {% endif %}
  </div>

  <div class="col-md-3" id="button-ecouterlabible-en-kabyle">

   <a href="/BibleEnKabyle/ecoute/" >
     {% if ecoute_lecture %}
     <button type="button"  class="btn btn-default btn-lg col-lg-12  disabled">
       {% else %}
       <button type="button"  class="btn btn-default btn-lg col-lg-12">

         {% endif %}

         Ecouter la bible en kabyle</button> </a>

       </div>

       <div class="col-md-3" id="button-ecouterlabible-en-kabyle">

         <a href="/BibleEnKabyle/lecture/">
          {%if ecoute_lecture %}
          <button type="button" class="btn btn-default btn-lg col-lg-12">Lire la bible en kabyle</button> 
          {% else %}
          <button type="button" class="btn btn-default btn-lg col-lg-12 disabled">Lire la bible en kabyle</button>
          {%endif%}

        </a>

      </div>

    </div>

    <div class="col-sm-8 col-md-12">
      <br>
      <br>
      <p>{{section.content|safe}}
      </p>
      <br>
      <br>
      <p>

        <br>
        <br><br>
        <br>
      </p>
    </div>
