      <div class="col-md-6  center-block">

        <h1> <span class="label label-default label-primary  center-block">Ancien testament</span></h1>
        <br>
        <br>
        {% for livre_l, chapitres_l in livres_avec_chapitres_left.items %}

        <div class="col-md-12">

          <div class="col-md-12">

            <h3><span class="label label-default">{{ livre_l.titre }}</span></h3>

          </div>

          <div class="list-group active col-md-10">

            {% for chapitre_l in chapitres_l %}      

            <a href="BibleEnKabyle_lecture/{{ chapitre_l.slug }}" class="list-group-item">{{ chapitre_l.titre }}</a>   

            {% endfor %}


          </div>

        </div>

        {% endfor %}

      </div>