      <div class="col-md-6  center-block">

        <h1> <span class="label label-default label-primary  center-block">Ancien testament</span></h1>
        <br>
        <br>
        {% for livre_l, chapitres_l in livres_avec_chapitres_left.items %}
        {% if chapitres_l %}

        <div class="col-md-12">

          <div class="col-md-12">

            <h3><span class="label label-default">{{ livre_l.titre|upper }}</span></h3>

          </div>

          <div class="list-group active col-md-10">

            {% for chapitre_l in chapitres_l %}   

            {% if ecoute_lecture == 'lecture' %}   

            <a href="{%  url 'BibleEnKabyle:BibleEnKabyleLecture' slug=chapitre_l.slug %}" class="list-group-item  col-md-2" id="element-chapitre">{{ chapitre_l.titre|upper }}</a>   

            {% elif ecoute_lecture == 'ecoute' %}

            <a href="{%  url 'BibleEnKabyle:BibleEnKabyleEcoute' slug=chapitre_l.slug %}" class="list-group-item  col-md-2" id="element-chapitre">{{ chapitre_l.titre|upper }}</a>            

            {% endif %}

            {% endfor %}


          </div>

        </div>

        {% endif %}

        {% endfor %}

      </div>