<div class="container-fluid" id="fond_eglise_bethnoe"  style="background-image: url(/media/{{index_eglise_bethnoe.fond_ecran}});">
    <br>
    <br>
    <br> 
    <br>
    <div class="col-md-9 col-md-offset-1 menu_eglisebethnoe text-center">

        <h2>Louanges disponnibles</h2>
        
        
    </div>
    <br>
    <br>
    <br>
    <div class="col-lg-9 col-md-9 col-sm-12 col-md-offset-1 col-lg-offset-1">
        <ul class="list-group" id="playlist">
            {% for cd in cds %}
            <li class="list-group-item list-group-item-info">
                <a href="{% url 'EgliseBethnoe:louange_lecture' slug=cd.slug%}">{{cd.titre}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>