{% extends "base.html" %}



{% block content %}

{% include "menu.html" %}

<br>
<br>
<br>
<br>



{% if form.errors %}
<p>Votre mots de passe ou login ne sont pas corrects</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}

<div class="alert alert-info  col-md-6" >Vous n'avez pas les droits de voir cette page </div>



{% else %}
<div class="alert alert-info col-md-6" >Merci de vous connecter pour continuer</div>

{% endif %}
{% endif %}



<div class="col-md-12">
    <form method="post" action="{% url 'login' %}" class="navbar-form navbar-left col-md-12">

        {% csrf_token %}
        <div class="col-md-12">

            <table class="table">
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

        </div>

        <div class="col-md-12">

            <button type="submit" class="alert alert-success col-md-4 col-md-offset-5">Login</button>
            
            <div class="alert alert-warning  col-md-4 col-md-offset-5" ><a href="{% url 'password_reset' %}" >Mot de passe oublié ? </a> </div>

            <input type="hidden" name="next" value="{{ next }}" class="form-control"/>
        </div>

    </form>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>







<br>
<br>
<br>
<div style="height: 70vh"></div>







{% include "footer.html" %}



{% endblock %}
