


<div class="container-fluid">
    <section class="row egliseBN">
        <div class="fill-screen" style="background-image: url(/media/yvoire-eglise-croix.jpg)">

{% include "Menu_EtudesBibliques.html" %}

    <div class="container-fluid eglisebethnoecontainer22">

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-9 col-md-offset-1  container_cadre">

               <div class="col-md-1">


                </div>


                <div class="col-md-1">


                </div>







                <div class="col-md-10 col-xs-offset-1 text content mCustomScrollbar  custom"> 




                    <br>
                    <br>

                    <div class="row article"> 

                        <div class="col-md-12" id="article"> 
                            <a href="http://localhost/after/EgliseBethnoeEvenements_detail.html"><h4>{{etude.titre}}</h4></a> 
                            <br>

                            {{intro.content|safe}} 

                            
                        </div>










                    </div>


                    <br>
                    <br>    




                </div>


            </div>

        </div>



    </div>



</div>
</section>



</div>














