{% load staticfiles %} 

<!DOCTYPE html>
<html> 

<head>
	
  <title>{% block title %}{% endblock %}</title>
  
  <meta charset="utf-8">      
  <meta http-equiv="X-UA-Compatible" content="IE=edge">      
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}"  >
  <link rel="stylesheet" type="text/css" href="{% static 'app.css' %}">

</head>

<body>

  {% block content %} 

  {% endblock %}

  <!-- Latest compiled and minified JavaScript -->
  <script type="text/javascript" src="{% static 'jquery-2.1.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>


  <!--script type="text/javascript" src="{% static 'videojs.relatedCarousel.js' %}" ></script-->

  <!--script type="text/javascript" src="{% static 'jssor.slider.mini.js'%}"></script>
  <script type="text/javascript" src="{% static 'initiate_jssor.js'%}"></script-->


  <!--script type="text/javascript" src="{% static 'videojs.relatedCarousel.js' %}"></script-->

  <script type="text/javascript" src="{% static 'audio.js' %}"></script> 

</body>

</html>

