       
<div class="container-fluid" id="fond_eglise_bethnoe"  style="background-image: url(/media/{{index_eglise_bethnoe.fond_ecran}});>

    <section class="row egliseBN">

        <div class="fill-screen"  >

        {% include "menu_index_eglisebethnoe.html" %}

            <div class="container-fluid eglisebethnoecontainer22">

                <div class="row">
                    <div class="col-md-1">
                        <img class="" src="" alt="" />
                    </div>
                    <div class="col-md-9 col-md-offset-1  container_cadre">


                        <div class="col-md-3 video">
                            <iframe width="425" height="240" border-radius="20" src="{{index_eglise_bethnoe.video_url}}" frameborder="0" allowfullscreen></iframe>


                        </div>
                        <div class="col-md-8 col-md-offset-1 text"> 


                        <br>
                        <br>

                         {{index_eglise_bethnoe.content|safe}}



                        </div>
                    </div>


                </div>

            </div>



        </div>



    </div>
