<div class="container-fluid" id="fond_eglise_bethnoe"  style="background-image: url(/media/{{index_eglise_bethnoe.fond_ecran}});">
  <section class="row egliseBN">


    {% include "menu_index_eglisebethnoe.html" %}


    <div class="container-fluid">

      <br>



      <div class="col-sm-10 col-md-6 col-md-offset-1">

        <br>


        {{post.content|safe}}


      </div>


      <div class="col-sm-10 col-md-5">





        <div class="container">


           <h1>{{post.image.titre_image}}</h1>
           <p>{{post.titre}}</p>
           <p><a class="btn btn-lg btn-primary" href="/media/{{post.image}}" target="_blank" role="button">Zoom</a></p>

       </div>   



     </div>















   </div>
   </section>
 </div>
























