
<div class="container-fluid" id="fond_eglise_bethnoe"  style="background-image: url(/media/{{section.media}});">
    
    <br>
    <br>
    <br> 
    <br>
    
    <div class="col-md-9 col-md-offset-1 menu_eglisebethnoe text-center">
    

        <div id="text_egliseBethnoe_3">{{section.titre}}</div>

              <div class="col-sm-10 col-md-10 col-md-offset-1 text-center" >

        <br>


        {{section.content|safe}}


      </div>

        
    </div>
    
    <br>
    <br>
    <br>
    
    
        
        <ul class="list-group col-lg-9 col-md-9 col-sm-12 col-md-offset-1 col-lg-offset-1" id="playlist">

        <br>
        <br>
            
            {% for cd in cds %}
            
            <li class="list-group-item list-group-item-info">
                <a href="{% url 'EgliseBethnoe:louange_lecture' slug=cd.slug%}">{{cd.titre}}</a>
            </li>
            
            {% endfor %}
            
        </ul>

    

</div>
