{% load staticfiles %}  

<div class="container-fluid"> 

<div class="col-md-12 text-center">
    
    <section id="EgliseBethnoe" class="col-md-10 col-md-offset-1">

     <div id="myCarousel1" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for image in images_carrousel  %}
        {% if forloop.counter0 == 0 %}
        <li data-target="#myCarousel1" data-slide-to="{{forloop.counter0}}" class="active"></li>
        {% else %}
        <li data-target="#myCarousel1" data-slide-to="{{forloop.counter0}}" ></li>
        {% endif %}           
        {% endfor %}
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">    

        {% for image in images_carrousel %}    

        {% if forloop.counter0 == 0 %}
        <div class="item active">

            {% else %}

            <div class="item">

                {% endif %}

                <a href="{% static image.get__absolute_url %}" target="_blanck">  <img class="img-responsive center-block" id="image_carousel_index" src="{% static image.get__absolute_url %}" alt="{{image.title}}"       > </a>

                <div class="carousel-caption">
                <h3>{{image.title}}</h3>
                    <p> {{image.caption}} </p>
                </div>
            </div>

            {% endfor %}

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control index" href="#myCarousel1" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control index" href="#myCarousel1" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

            <a class="btn" href="#text-dir">
                <i class="fa fa-arrow-circle-down fa-4x"></i>
            </a>

</section>

</div>

<section id="sights" class="row text-banner">
    <h3 id="equipe">{{presentation_equipe_dirigente.titre}}</h3>
 <div id="text-dir"></div>

    <p>{{presentation_equipe_dirigente.texte}}</p>
   
    <section id="activities" class="row activity-section">

        {%for dirigent in dirigents_eglise %}
        <a href="{{dirigent.lien}}">

        <div class="activity-element col-md-4 wow fadeInLeft">
            <img src="{% static dirigent.photo.get__absolute_url %}" />
            <h3>{{dirigent.nom}} {{dirigent.prenom}}</h3>
            <p>{{dirigent.role}}</p>
        </div> 
           </a>

        {%endfor%}

        <div class="activity-element col-md-1 col-md-offset-11 wow fadeInLeft animated animated down-button2" id="bouton_down">

            <a class="btn" href="#contact">
                <i class="fa fa-arrow-circle-down fa-4x"></i>
            </a>
        </div>
    </section>

</section>

<section class="row">
    <div class="fill-screen fixed-attachment" style="background-image: url({% static fond2.get__absolute_url %})">
    </div>
</section>

<section id="contact-us" class="row contact-us wow fadeInDown">
    <h1>Contactez nous</h1>
    <h3>{{adresses.num_rue}} {{adresses.type_rue}} {{adresses.nom_rue}} </h3>
    <p> {{adresses.code_postale }} {{adresses.ville}}</p>
    <p>{{adresses.pays }} </p>

</section>

</div>