<div class="container-fluid" id="fond_eglise_bethnoe"  style="background-image: url(/media/{{index_eglise_bethnoe.fond_ecran}});">
  <section class="row egliseBN">

    {% include "menu_index_eglisebethnoe.html" %}

    <div class="container-fluid" id="fond_eglise_bethnoe"  style="background-image: url(/media/{{index_eglise_bethnoe.fond_ecran}});">

      

        

          <div class="col-md-2 col-md-offset-1 image">
            <img width="200"  border-radius="20" src="/media/{{confession.logo}}" frameborder="0" allowfullscreen></img>
          </div>

          <div class="col-md-8 col-md-offset-1" id="contenu-confession-foie"> 

            <h3> {{confession.title}} </h3>
                        <br>
            <br>
            {{confession.content|safe}}
          </div>


       
  
    </div>

  </section>
</div>



</section>
</div>

<br>
<br>
























