
{% load staticfiles %}


<div class="container-fluid">

    <section class="row title-row">
        <div class="fill-screen" >

            <!--img class="img-responsive title-image" src="./media/yvoire-eglise-croix.jpg" alt="Rocky Mountain Outdoors Logo" /-->

            <img class="img-responsive title-image" src="{% static fond1.get__absolute_url %}" alt="Rocky Mountain Outdoors Logo" />



            <div class="down-button">
                <a class="btn" href="#EgliseBethnoe">
                    <i class="fa fa-arrow-circle-down fa-4x"></i>
                </a>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>



    <section id="EgliseBethnoe" class="row fadeInUp egliseb">




        



        


        <!-- use jssor.slider.debug.js instead for debug -->






        <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden;">
            <!-- Loading Screen -->

            <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                <div style="position:absolute;display:block;background:url('media/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
            </div>



                      

            <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">

            {% for image in images_carrousel  %}

                <div data-p="225.00" style="display:none;">
                    <img data-u="image" src="{% static image.get__absolute_url %}" />

                    <div style="position: absolute; top: 30px; left: 30px;  height: 120px; font-size: 50px; color: #ffffff; line-height: 60px;">{{ image.title }}</div>

                    <div style="position: absolute; top: 300px; left: 30px; width: 480px; height: 120px; font-size: 30px; color: #ffffff; line-height: 38px;">{{ image.caption }}
                    </div>



                </div>

            {% endfor %}

                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="media/purple.jpg" />
                    <div style="position: absolute; top: 30px; left: 30px; width: 480px; height: 120px; font-size: 50px; color: #ffffff; line-height: 60px;">Titre 1</div>
                    <div style="position: absolute; top: 300px; left: 30px; width: 480px; height: 120px; font-size: 30px; color: #ffffff; line-height: 38px;">Contenu du texte 1, mn super site 
                    </div>
                </div>

                <div data-p="225.00" data-po="80% 55%" style="display:none;">
                    <img data-u="image" src="media/blue.jpg" />
                </div>

                <a data-u="add" href="http://www.jssor.com" style="display:none">Jssor Slider XXL</a>
                
            </div> 




            <!-- Bullet Navigator -->

            <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">

                <!-- bullet navigator item prototype -->

                <div data-u="prototype" style="width:16px;height:16px;"></div>


            </div>



            <!-- Arrow Navigator -->
            <span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2">

            </span>

            <span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2">

            </span>

            <div class="down-button">
                <a class="btn" href="#equipe">
                    <i class="fa fa-arrow-circle-down fa-4x"></i>
                </a>
            </div>
            
        </div>


        <!-- #endregion Jssor Slider End -->


    </section>







    <section id="sights" class="row text-banner">
        <h3 id="equipe">{{presentation_equipe_dirigente.titre}}</h3>

        <p>{{presentation_equipe_dirigente.texte}}</p>

        <section id="activities" class="row activity-section">

        {%for dirigent in dirigents_eglise %}
            

            <div class="activity-element col-md-4 wow fadeInLeft">
                <img src="{% static dirigent.photo.get__absolute_url %}" />
                <h3>{{dirigent.nom}} {{dirigent.prenom}}</h3>
                <p>{{dirigent.role}}</p>
            </div> 

        {%endfor%}



            <div class="activity-element col-md-1 col-md-offset-11 wow fadeInLeft animated animated down-button2" id="bouton_down">

                <a class="btn" href="#contact">
                    <i class="fa fa-arrow-circle-down fa-4x"></i>
                </a>
            </div>
        </section>

    </section>






    

    <section class="row">
        <div class="fill-screen fixed-attachment" style="background-image: url({% static fond2.get__absolute_url %})">
        </div>
    </section>





    <section id="contact-us" class="row contact-us wow fadeInDown">
        <h1>Contactez nous</h1>
        <h3>{{adresses.num_rue}} {{adresses.type_rue}} {{adresses.nom_rue}} </h3>
        <p> {{adresses.code_postale }} {{adresses.ville}}</p>
        <p>{{adresses.pays }} </p>
       
    </section>


</div>






