<div class="container-fluid" id="fond_eglise_bethnoe"  style="background-image: url(/media/{{index_eglise_bethnoe.fond_ecran}});">   
    <section class="row egliseBN">        

        {% include "menu_index_eglisebethnoe.html" %}

        <div class="container-fluid eglisebethnoecontainer22">     

            <div class="col-md-9 col-md-offset-1  container_cadre">
        
                {% include "menu_index_eglisebethnoe_espace_members.html" %}
                {% include "contenu_eglisebethnoe_espace_members_annonces.html" %}
                
            </div>


        </div>
        
    </section>
</div>

