

      <div class="col-md-12" id="culte_hebdo">   
        <strong>{{culteHebdo.title}} </strong>               
        

    </div>

    <div class="col-md-12"> 
      

        
        <div class="col-md-3 video" id="video-bethnoe">
            <iframe width="425" height="240" border-radius="20" src="{{culteHebdo.video_url}}" frameborder="0" allowfullscreen></iframe>

                               
        </div>




        <div class="col-md-7 col-md-offset-1">


            <br>
            
            {{ culteHebdo.content|safe }}


            
            

        </div>


        



    </div>
    

