<div class="col-md-12 text-center" id="EspaceMembres">
    <div class="col-md-6 text-center">
        <table id="liens-eglisebethnoe" style="width:100%" cellpadding="10">
            <tr>
                <td> <a id="liens-detailles-2" href="#page1">Culte Hébdomadaire
                </a> </td>
            </tr>
            <tr>
                <td> <a id="liens-detailles-2" href="#page1">Annonces</a> </td>
            </tr>
            <tr>
                <td> <a id="liens-detailles-2" href="#page1">Prières</a> </td>
            </tr>
            <tr>
            </table>
        </div>
    <div class="col-md-6 text-center">
            <table id="liens-eglisebethnoe" style="width:100%" cellpadding="10">
                <tr>
                    <td> <a id="liens-detailles-2" href="#page1">Ecoles des enfants
                   </a> </td>
                </tr>
                <tr>
                    <td> <a id="liens-detailles-2" href="#page1">Groupe de louanges</a> </td>

                </tr>
                <tr>
                    <td> <a id="liens-detailles-2" href="#page1">Contacter les dirigeants</a> </td>
                </tr>
            </table>
        </div>
        <br>
        <br>
    </div>
