            
            <div class="row">
                <div class="col-md-1 ">
                  <img class="img-responsive logo" src="/media/{{index_eglise_bethnoe.logo}}" alt="Rocky Mountain Outdoors Logo" />
                </div>
                <!-- --------------------pavé bleu------------------------------ -->
                <div class="col-md-9 col-md-offset-1 menu_eglisebethnoe">      

                <div class="col-md-9" id="text_egliseBethnoe_3">

                  {% if evenements %}
                  <div class="col-md-2">

                   <a href="/EgliseBethnoe/" >
                     <button type="button"  class="btn btn-default btn-lg col-lg-12">
                       Retour</button> 
                     </a>

                   </div>

                   {% elif evenement %}

                   <div class="col-md-2">

                   <a href="/EgliseBethnoe/evenements/" >
                     <button type="button"  class="btn btn-default btn-lg col-lg-12">
                       Retour</button> 
                     </a>

                   </div>                  

                   {% else %}

                   {{index_eglise_bethnoe.title1}}

                   {% endif %}



                 </div>

                 <div class="col-md-3" id="text_egliseBethnoe">
                  <table id="liens-eglisebethnoe" style="width:100%" cellpadding="10">
                    <tr>
                      <td> <a id="liens-detailles" href="/EgliseBethnoe/evenements/">Evenements


                      </a>  </td>

                    </tr>
                    <tr>
                     <td> <a id="liens-detailles" href="EgliseBethnoe/espacemembers/">Espaces membres</a>  </td>

                   </tr>
                   <tr>
                    <td> <a id="liens-detailles" href="EgliseBethnoe/confession-de-foie/">Confession de foi</a>  </td>

                  </tr>

                  <tr>

                    <td> <a id="liens-detailles" href="">Contact</a>

                    </td>

                  </tr>
                </table>
              </div>

              <div class="col-md-12" id="text_egliseBethnoe_4">

                {{index_eglise_bethnoe.title2}}

              </div>

            </div>
            <!-- --------------------pavé bleu------------------------------ -->




          </div>
       