body {
        padding-top: 30px;
    position: relative;
    font-family: 'Open Sans', sans-serif;


    /*padding-top: 110px;*/


    scrollbar-base-color: red;
    scrollbar-base-color: #C0C0C0;
    scrollbar-3dlight-color: #C0C0C0;
    scrollbar-highlight-color: #C0C0C0;
    scrollbar-track-color: #EBEBEB;
    scrollbar-arrow-color: black;
    scrollbar-shadow-color: #C0C0C0;
    scrollbar-dark-shadow-color: #C0C0C0;


}

a#contact_us:active, a#contact_us:focus,a#contact_us:hover {
    background: #337ab7;
    border-radius: 8px;
}

.navbar {
    margin-bottom: 0px;
    /*  padding: 30px 15px;*/
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


@media (max-width: 2000px) {
    .navbar-header {
        position: relative;
    }
/*    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        /* width: 70%;*/
        max-width: 40px;
        }*/
    }


    .navbar-inverse .navbar-nav>li>a {
        color: #bbb;
    }


    .cbp-af-header-shrink {
        padding-top: 5px;
        padding-bottom: 5px;
        opacity: 0.9;
    }

    .fill-screen {
        background-size: cover;
        background-position: center;
    }

    .title-row {
        position: relative;
        min-height: 300px;
    }
    .title-image {
        position: absolute;
        padding: 20px;
        top: 80%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        margin-bottom: 20px
    }

    .down-button {
        position: absolute;
        bottom: 40px;
        width: 100%;
        text-align: right;
        padding-right: 6%;
    }
    .down-button i {
        color: white;
    }

    .fixed-attachment {
        background-attachment: fixed;
    }
    @media (max-width: 1024px){
        .fixed-attachment {
            background-attachment: scroll;
        }	
    }

    .text-banner {
        text-align: center;
        margin: 40px 20px;
    }
    .text-banner h1 {
        font-size: 44px;
    }
    .text-banner p {
        font-size: 18px;
    }

    .activity-section {
        margin: 50px;
    }
    .activity-element {
        text-align: center;
    }
    .activity-element img {
        width: 150px;
        height: 150px;
    }

    #carousel {
        margin: 40px 0px;
    }
    #carousel img {
        width: 100%;
        height: auto;
    }

    .contact-us {
        margin: 50px;
        text-align: center;
    }

    footer {
        background-color: #254b6d;
        color: #ddd;
        padding: 20px;
        text-align: center;
    }

    aside {
        background-color: #f7f7f7;
        text-align: center;
        padding-top: 40px;
    }

    .range-list {
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .range-list h4 {
        margin-bottom: 40px;
        color: darkorange;
        font-weight: bold;
    }
    .range-list img {
        width: 100%;
        height: 100%;
        max-width: 140px;
        max-height: 60px;
    }
    .range-title {
        color: darkblue;
    }

    .sports-icon-list {
        background-color: #333;
        padding-bottom: 40px;
    }
    .sports-icon-list a {
        color: white;
    }
    .sports-icon-list a h6 {
        margin-top: 2px;
        margin-bottom: 14px;
    }
    .sports-icon-list img {
        width:70px;
        height:70px;
    }

    .sports-list-top div {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .sports-list-top a {
        margin-left: 30px;
        margin-right: 30px;
        display: inline-block;
    }

    article {
        padding: 40px;
    }
    article img {
        width: 100%;
        height: 100%;
        text-align: center;
        box-shadow: 6px 6px 8px #777;
        margin-bottom: 20px;
    }
    article p {
        font-size: 16px;
    }

    @media (max-width: 767px) {

        .range-list h4 {
            display: inline;
            font-size: 18px;
        }

        .range-list a {
            display: block;
        }

        .range-list img {
            width: 33%;
            height: 33%;
            margin-right: 10px;
            margin-bottom: 30px;
            margin-top: 20px;
        }

    }


/* The following code is used to create same-sized columns 
   in a multi-column layout.
   Code from:  
   http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
   */
   /* columns of same height styles */
   .container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}



section#EgliseBethnoe {
   margin-top: 13vh;



   

   margin-bottom: 20px;
}




section.row.egliseBN {
    padding-top: 1vh;
}

img.img-responsive.logo {
    height: 130px;
    /* top: 1120px; */
    /* margin-top: 0%; */
    max-width: 130px;
    padding: 20px;
}


img.img-responsive.imageeglisebethnoe {
    max-height: 190px;
    min-width: 100%;
}


/*div#text_egliseBethnoe {
    position: absolute;
    top: 20px;
    left: 700px;
    width: 100%;
    color: aliceblue;
    text-shadow: brown;
    }*/

    .container-fluid.eglisebethnoecontainer {
        padding-top: 20px;
    }


    div#text_egliseBethnoe_partie2 {
        position: absolute;
        top: 60px;
        left: 30px;
        width: 100%;
        color: #26394a;
        text-orientation: sideways;

        min-height: 1400px;
        background-repeat: repeat;
    }

    div#text_egliseBethnoe {
        color: black;

        min-height: 100px;

        color: wheat;
    }

    .col-md-9.col-md-offset-1.menu_eglisebethnoe {
        background-color: rgba(174, 176, 175, 0.8);
        color: black;
        /* background: url("images/yvoire-eglise-croix.jpg"); */
        min-height: 150px;
        padding: 20px;
        color: wheat;
        border-radius: 10px;
        padding-top: 10px;
        color: rgba(174, 176, 175, 0.8);
        color: #062f52;
        float:left;
    }

    .col-md-9.col-md-offset-1.container_cadre {
        /*background: url("./images/site-logo-white-70pct.png");*/
        background-color:rgba(174, 176, 175, 0.8);
        /*min-height: 1000px;*/
        top: 30px;
        border-radius: 10px;


    }

    .col-md-9.video {
        margin-left: -50px;
        margin-top: 20px;
    }

    .col-md-3.video {
        left: -160px;
        top: 20px;

    }

    .col-md-6.col-md-offset-2.text {
        top: 20px;
    }

    table#liens-eglisebethnoe {
        font-size: larger;
        color: #fdd49a;
        opacity: 0.9;
    }

    a#liens-detailles {
        color: white;
        /*text-shadow: 2px 2px #ff0000;*/
        /*text-shadow: white 0.05em 0.05em 0.05em;*/
    }

    img#logo {

        height: 70px;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 100px;

        background: lawngreen;
    border-radius: 5px;
    }

    img#logo_header {
        margin-top: 2px;
        margin-left: 2px; 


    }


    nav.navbar.navbar-inverse.navbar-fixed-top.cbp-af-header {
        background-color:#0d375d;       /*#0166c2;*/  /*#345171;*/
    }



    .col-md-9.col-md-offset-1.container_form {
        top: 10px;
    }


    #permitted:checked ~ .blocked {
      display: none;
  }

  #permitted:checked ~ button {
      display: block;
  }


  .mCSB_dragger_bar {
    line-height: 30px;
    width: 5px;
    color: #0166c2;
    background-color: #0166c2;
}








.col-md-10.container_form {
    border-width: thick;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    /*border-radius: 10px;*/
    border-color: #355677;
    border-spacing: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    color: white;
}

div#text_egliseBethnoe_3 {
    margin-top: 0px;
    font-size: x-large;
    color: white;
    font-family: fantasy;
}

.row.article {
    min-height: 30px;
}







input#permitted {
    width: 35px;
    padding-left: 30px;
    margin-left: -35px;
    height: 20px;
    border: blue;
    
    font-style: initial;
    opacity: 0.7;
    margin-top: 2px;
}

.col-md-10.col-xs-offset-1.text {

    max-height: 600px;
}




.col-md-10.col-xs-offset-1.text {

    max-height: 600px;
    overflow-x: hidden;
    margin-top: 15px;
    float: left;
}



div#text_egliseBethnoe_4 {
    text-align: center;
    font-size: x-large;
    color: white;
    font-family: fantasy;
}

div#text_egliseBethnoe_5 {
    text-align: right;
    position: fixed;
    padding-top: 40px;
    z-index: 10;
}

div#text_egliseBethnoe_6 {
    text-align: center;
    font-size: x-large;
}

button#bouton_retour {
    color: #f8a174;
    border-color: #f8a174;
}


button#bouton_retour:hover {
    background-color: antiquewhite;
}


div#EspaceMembres {
    text-align: left;
    padding-top: 20px;
    padding-left: 20%;

    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    /* border-radius: 10px; */
    border-color: #355677;
    border-spacing: 20px;
    padding: 20px;
    margin-bottom: 20px;
}


section.row.bibleenkabyle {
    min-height: 250px;
}
div#button-ecouterlabible-en-kabyle {
    float: right;
}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */



p#thamazight {
    font-family: "Lucida Sans Unicode", "MS Arial Unicode", "Comic Sans MS", Verdana, Arial, Helvetica;

}


ul.pagination.pagination-lg.paging_amazigh {
    margin: 0px;
}



.col-md-6.lecture_bible {
    margin-top: 10px;
}

.input-group-button.search_kaby {
    margin-top: 7px;
}

.row.lect_kaby {
    padding-left: 3%;
}

.input-group-lg.inpu-kaby {
    padding-top: 7px;
}

.row.chapitre-x {
    padding-left: 2%;
}



.col-md-6.text-center.cmd {
    padding-top: 3Px;
    margin-top: 14px;
}





audio#audio_lecteur {
    width: 60%;
}

.col-md-12.pave1 {
    background: red
    margin-bottom: 20px;
}


.up-button {
    text-align: right;
}

section.row.text_chapitre_bible {
    min-height: 250px;
}


a#active {
    background: gainsboro;
}

img#image_carousel {
    height: 250px;
}

img#image_carousel_index {
    height: auto;
    border-radius: 14px;
}



div#fond_eglise_bethnoe {
    padding-top: 12vh;
}


a.left.carousel-control {
    width: 20%;
}


a.right.carousel-control {
    width: 20%;
}


div#egliseBethnoe {

        background-color: rgba(174, 176, 175, 0.4);
    border-radius: 8px;


}




a#liens-detailles-2 {
    color: white;
}

a.left.carousel-control.index {
    width: 0%;
    color: #337ab7;
}
a.right.carousel-control.index {
    width: 0%;
    color: #337ab7;
}


li.list-group-item.list-group-item-info.active {
    color: white;
}

a#liste_lecture {
    color: white;
}

ul#playlist {
    min-height: 50vh;
    float: left;
}



div#post_detail {
    color: aliceblue;
}

div#poste_area {
    background-color: #a7a4b6;
    min-height: 75px;
    border-radius: 9px;
    padding: 3px;
}

ul.errorlist {
    color: red;
    list-style-position: inside;
}


.container_post {

    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.col-md-9.col-md-offset-2.container_cadre {
    /* background: url(./images/site-logo-white-70pct.png); */
    background-color: rgba(174, 176, 175, 0.4);
    min-height: 1000px;
    top: 30px;
    border-radius: 10px;
    float: left;
}

div#contenu-confession-foie {
    background-color: rgba(174, 176, 175, 0.4);
        color: white;
}


label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 13px;
    color: #254b6d;
}



div#fond_eglise_bethnoe {
    background-size: cover;
}




audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}






.col-sm-10.col-md-10.col-md-offset-1.text-center {
    color: rebeccapurple;
}

.navbar-inverse .navbar-nav > li > a {
    color: #cddc39;
}






.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #03A9F4;
    background-color: transparent;
}


.navbar #nav > .active > a {
    color: red;
}

img#id-logo {
    background: rgba(27, 243, 7, 0.75);;
    border-radius: 8px;
    margin: 2px;
    height: 50px;
    width: auto;
}


.col-sm-8.col-md-12.text-bible-kabyle {
    color: navajowhite;
    background: rgba(57, 115, 57, 0.6);
    background-blend-mode: exclusion;
    border-radius: 10px;
    margin-bottom: 20px;
    float: left;
}

div#contenu-detail-ecole-des-enfants {
    color: aliceblue;
    background-color: rgba(85, 85, 85, 0.8);
    min-height: 200px;
    border-radius: 5px;
    padding: 10px;
}




.col-md-8.col-md-offset-1.text {
    float: left;
}





h3#label-lecture {
    color: rgba(76, 28, 28, 0.76);
    background: #337ab7;
    height: 33px;
    border-radius: 5px;
    display: block;
    text-align: center;
    /* float: right; */
}


h3#label-ecoute {
    color: rgba(76, 28, 28, 0.76);
    background: #5bc0de;
    height: 33px;
    border-radius: 5px;
    display: block;
    text-align: center;
    /* float: right; */
}



