<div class="container-fluid eglisebethnoecontainer22">
    <div class="row">

        <div class="col-md-1">
        </div>
        <div class="col-md-9 col-md-offset-1  container_cadre">

            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-12">
                <br>
                <br>
                <div class="col-md-12 text-center">
                    <h4>Titre de la vidéo  1 /media/{{enseignementsBiblique.media}}</h4>
                    <br>
                </div>
                <div class="col-md-12 col-lg-12 text-center">
                    <video id="really-cool-video" class="video-js vjs-default-skin vjs-big-play-centered" controls
                    preload="auto" width="500" max-height="500" poster="./img/c-fruit.png"
                    data-setup='{}' margin='auto'>
                    <source src="/media/{{enseignementsBiblique.media}}.mp4" type="video/mp4">
                      <source src="really-cool-video.webm" type="video/webm">
                        320x240.ogg

                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser
                            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>




                <div class="col-md-12">
                    <br>
                    <br>




                    <p>


                        20 Akken yețxemmim i waya, yers-ed
                        ɣuṛ-es lmelk* n Ṛebbi di targit yenna-yas :
                        A Yusef ! A mmi-s n Dawed ! Ur țțaggad ara aț-țesɛuḍ Meryem ț-țameṭṭut-ik, axaṭer llufan yellan di tɛebbuṭ-is, yusa-yas-d s Ṛṛuḥ iqedsen*. 21 A d-tesɛu aqcic, a s-tsemmiḍ Ɛisa, * axaṭer d nețța ara iselken lumma-s si ddnubat-nsen.
                        22 Ayagi akk yedṛa iwakken ad ițwakemmel wayen i d-yenna Sidi Ṛebbi seg imi n nnbi Iceɛya * :
                        23 Ațan tɛezrit aț-țerfed tadist, a d-tesɛu aqcic ad ițțusemmi Imanuwil yeɛni :« Ṛebbi yid-nneɣ.»
                        24 Mi i d-yuki Yusef, ixdem ayen i s-d-yenna lmelk* n Sidi Ṛebbi, yeqbel Meryem aț-țili ț-țameṭṭut-is ; yewwi-ț-id ɣer wexxam-is. 25 Meɛna ur ț-innul ara armi i d-tesɛa mmi-s iwumi isemma Ɛisa.
                        Imusnawen di Bitelḥem

                    </p>






                </div>












                <br>
                <br>

                <br>
                <br>
                <br>

                <div class="col-md-12">








                </div>

            </div>





            <!---------------------------Contenu du même type---------------------->
            <div class="col-md-12">

                <h2>
                    Contenu du même type
                </h2>

            </div>

            <div class="col-md-12 pave1">

                <div class="col-md-3 col-lg-3 col-md-offset-0 col-lg-offset-0">

                    <video id="really-cool-video-1" class="video-js vjs-default-skin vjs-big-play-centered" controls
                    preload="auto" width="150" height="150" poster="./img/c-fruit.png"
                    data-setup='{}'>
                    <source src="/videos/320x240.mp4" type="video/mp4">
                      <source src="really-cool-video.webm" type="video/webm">
                        320x240.ogg


                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser
                            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>

                <div class="col-md-3 col-lg-3 col-md-offset-0 col-lg-offset-0">

                    <video id="really-cool-video-1" class="video-js vjs-default-skin vjs-big-play-centered" controls
                    preload="auto" width="150" height="150" poster="./img/c-fruit.png"
                    data-setup='{}'>
                    <source src="/videos/320x240.mp4" type="video/mp4">
                      <source src="really-cool-video.webm" type="video/webm">
                        320x240.ogg


                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser
                            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>
                <div class="col-md-3 col-lg-3 col-md-offset-0 col-lg-offset-0">

                    <video id="really-cool-video-1" class="video-js vjs-default-skin vjs-big-play-centered" controls
                    preload="auto" width="150" height="150" poster="./img/c-fruit.png"
                    data-setup='{}'>
                    <source src="/videos/320x240.mp4" type="video/mp4">
                      <source src="really-cool-video.webm" type="video/webm">
                        320x240.ogg


                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser
                            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>
                <div class="col-md-3 col-lg-3 col-md-offset-0 col-lg-offset-0">

                    <video id="really-cool-video-1" class="video-js vjs-default-skin vjs-big-play-centered" controls
                    preload="auto" width="150" height="150" poster="./img/c-fruit.png"
                    data-setup='{}'>
                    <source src="/videos/320x240.mp4" type="video/mp4">
                      <source src="really-cool-video.webm" type="video/webm">
                        320x240.ogg


                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser
                            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>

                <div class="col-md-3 col-lg-3 col-md-offset-0 col-lg-offset-0">

                    <video id="really-cool-video-1" class="video-js vjs-default-skin vjs-big-play-centered" controls
                    preload="auto" width="150" height="150" poster="./img/c-fruit.png"
                    data-setup='{}'>
                    <source src="/videos/320x240.mp4" type="video/mp4">
                      <source src="really-cool-video.webm" type="video/webm">
                        320x240.ogg


                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser
                            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>

                <div class="col-md-3 col-lg-3 col-md-offset-0 col-lg-offset-0">

                    <video id="really-cool-video-1" class="video-js vjs-default-skin vjs-big-play-centered" controls
                    preload="auto" width="150" height="150" poster="./img/c-fruit.png"
                    data-setup='{}'>
                    <source src="/videos/320x240.mp4" type="video/mp4">
                      <source src="really-cool-video.webm" type="video/webm">
                        320x240.ogg


                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser
                            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>
                <div class="col-md-3 col-lg-3 col-md-offset-0 col-lg-offset-0">

                    <video id="really-cool-video-1" class="video-js vjs-default-skin vjs-big-play-centered" controls
                    preload="auto" width="150" height="150" poster="./img/c-fruit.png"
                    data-setup='{}'>
                    <source src="/videos/320x240.mp4" type="video/mp4">
                      <source src="really-cool-video.webm" type="video/webm">
                        320x240.ogg


                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser
                            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>
                <div class="col-md-3 col-lg-3 col-md-offset-0 col-lg-offset-0">

                    <video id="really-cool-video-1" class="video-js vjs-default-skin vjs-big-play-centered" controls
                    preload="auto" width="150" height="150" poster="./img/c-fruit.png"
                    data-setup='{}'>
                    <source src="/videos/320x240.mp4" type="video/mp4">
                      <source src="really-cool-video.webm" type="video/webm">
                        320x240.ogg


                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser
                            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>






            </div>


            <!---------------------------Contenu du même type---------------------->






        </div>




    </div>









</div>

<script>
    videojs('really-cool-video', {}, function() {
        var player = this;
        player.relatedCarousel([
          { imageSrc: '/images/Bethune_MdN2015_5.jpg', url: '/videos/SampleVideo_360x240_1mb.mp4', title: 'video 1 title' },
          { imageSrc: '/images/Bethune_MdN2015_5.jpg', url: '/videos/SampleVideo_360x240_1mb.mp4', title: 'video 2 title' }
          ]);
    });
</script>







