<div class="container-fluid eglisebethnoecontainer22">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-9 col-md-offset-1  container_cadre">

            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-12">
                <br>
                <br>
                <div class="col-md-12 text-center">
                    <h4>{{ES.titre}}</h4>
                    <br>
                </div>
                <div class="col-md-12 col-lg-12 text-center">
                    <video id="really-cool-video" class="video-js vjs-default-skin vjs-big-play-centered" controls
                    preload="auto" width="500" max-height="500" poster="./img/c-fruit.png"
                    data-setup='{}' margin='auto'>
                    <source src="/media/{{ES.media}}" type="video/mp4" >
                        <p class="vjs-no-js">
                           Pour regarder cette video, il faut un naviguateur internet à jour qui supporte HTML5 et javascript 
                       </p>
                   </video>
               </div>
               <div class="col-md-12">
                <br>
                <br>
                <p>
                    {{ES.content|safe}}
                </p>

            </div>
            <br>
            <br>

            <br>
            <br>
            <br>

            <div class="col-md-12">

            </div>
        </div>

        <!---------------------------Contenu du même type---------------------->
        <div class="col-md-12">

            <h3>
                Contenu du même type
            </h3>
            <br>
            

        </div>

        <div class="col-md-12">
            {% for es in enseignementsBibliques %}

            <div class="col-md-3 col-lg-3 col-md-offset-0 col-lg-offset-0">

                <video id="really-cool-video-" class="video-js vjs-default-skin vjs-big-play-centered"  poster="/media/{{es.image}}" controls
                preload="auto" width="200px" height="200px" poster=""
                data-setup='{}'>
                <source src="/media/{{es.media}}" type="video/mp4">
                    <p class="vjs-no-js">
                       Pour regarder cette video, il faut un naviguateur internet à jour qui supporte HTML5 et javascript 
                   </p>

           </div>

           {% endfor %}
       </div>
       <!---------------------------Contenu du même type---------------------->
   </div>
</div>

</div>

<script>

    videojs('really-cool-video', {}, function() {
        var player = this;
        player.relatedCarousel([
          { imageSrc: '/images/Bethune_MdN2015_5.jpg', url: '/videos/SampleVideo_360x240_1mb.mp4', title: 'video 1 title' },
          { imageSrc: '/images/Bethune_MdN2015_5.jpg', url: '/videos/SampleVideo_360x240_1mb.mp4', title: 'video 2 title' }
          ]);
    });



</script>
