



<div class="container-fluid">
    <section class="row egliseBN">
        <div class="fill-screen" style="background-image: url(/images/yvoire-eglise-croix.jpg)">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 ">


                    </div>


                    <!-- --------------------pavé bleu------------------------------ -->
                    <div class="col-md-9 col-md-offset-1 menu_eglisebethnoe">



                        <div class="col-md-9" id="text_egliseBethnoe_3">

                            A Movie in the Park: Kung Fu Panda

                        </div>

                        <br>
                        <br>
                        <br>



                        <div class="col-md-10 col-md-offset-1 text-center">

                            <p>

                                some text ou n improrte quoi some text ou n improrte quoi some text ou n improrte quoi some text ou n improrte quoi some text ou n improrte quoi some text ou n improrte 
                            </p>
                        </div>







                    </div>
                    <!-- --------------------pavé bleu------------------------------ -->






                </div>
            </div>

            <div class="container-fluid eglisebethnoecontainer22">

                <div class="row">
                    <div class="col-md-1">




                    </div>
                    <div class="col-md-9 col-md-offset-1  container_cadre">




                        <div class="col-md-1">


                        </div>
ss

                        <div class="col-md-1">


                        </div>

                        <div class="col-md-12">

                            <br>
                            <br>
                            <br>

                            <div class="col-md-7">


                            </div>

                            <div class="col-md-2">

                                <div class="col-md-6 dropdown">
                                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Auteurs
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href=".auteur1" data-toggle="collapse">Auteur 1</a></li>
                                    <li><a href=".auteur2" data-toggle="collapse">Auteur 2</a></li>
                                    <li><a href=".auteur3" data-toggle="collapse">Auteur 3</a></li>
                                </ul>
                            </div>

                        </div>


                        <div class="col-md-2">

                            <div class="col-md-6 dropdown">
                              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Thèmes
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><a href=".theme1" data-toggle="collapse">Thème 1</a></li>
                                <li><a href=".theme2" data-toggle="collapse">Thème 2</a></li>
                                <li><a href=".theme3" data-toggle="collapse">Thème 3</a></li>


                            </ul>
                        </div>         
                    </div>

                </div>







                <div class="col-md-10 col-xs-offset-1 text content mCustomScrollbar  custom"> 





                    <div class="collapse in auteur1 theme2">
                        <div class="row article"> 
                         <br>
                         <br>


                         <div class="col-md-12" id="article"> 
                            <a href="/EnseignementsBibliques_video.html"><h4>Fondements video Auteur 1 theme2</h4></a> 
                            <br>
                            

                            
                        </div>

                        <div class="col-md-2" id="article"> 




                         <img id="logo" src="./images/logo.jpg" align="absmiddle">
                     </div>



                     <div class="col-md-10" >





                         some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  
                     </div>
                 </div>
             </div>


             <br>
             <br>    






             <div class="collapse in auteur2 theme1">
                <div class="row article"> 

                    <div class="col-md-12" id="article"> 
                        <a href="/EnseignementsBibliques_audio.html"><h4>Auteur 2 : Fondements audios theme1</h4></a> 
                        <br>



                    </div>

                    <div class="col-md-2" id="article"> 




                     <img id="logo" src="./images/logo.jpg" align="absmiddle">
                 </div>



                 <div class="col-md-10" >





                     some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  
                 </div>
             </div>
         </div>


         <br>
         <br> 




         <div class="collapse in auteur3 theme3">
            <div class="row article"> 

                <div class="col-md-12" id="article"> 
                    <a href="http://localhost/after/EgliseBethnoeEvenements_detail.html"><h4>Auteur 3 thme3</h4></a> 
                    <br>



                </div>

                <div class="col-md-2" id="article"> 




                 <img id="logo" src="./images/logo.jpg" align="absmiddle">
             </div>



             <div class="col-md-10" >





                 some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  
             </div>
         </div>
     </div>


     <div class="collapse in auteur1 theme2">
        <br>
        <br> 
        <div class="row article"> 
            <div class="col-md-12" id="article"> 
                <a href="http://localhost/after/EgliseBethnoeEvenements_detail.html"><h4>auteur 1 : improrte quoi thme2</h4></a> 
                <br>
            </div>
            <div class="col-md-2" id="article"> 
             <img id="logo" src="./images/logo.jpg" align="absmiddle">
         </div>
         <div class="col-md-10" >
             some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  
         </div>
     </div>
 </div>




<div class="collapse in auteur3 theme1">
 <br>
 <br>
 <div class="row article">   
    <div class="col-md-2" id="article">   
        <img id="logo" src="./images/logo.jpg" align="absmiddle">
    </div>
    <div class="col-md-10" >
        <b>improrte quoi</b>

        <br> 
        some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  
    </div>
</div>
</div>




<div class="collapse in auteur2 theme3">
<br>
<br>    
<div class="row article">   
    <div class="col-md-2" id="article">   
        <img id="logo" src="./images/logo.jpg" align="absmiddle">
    </div>
    <div class="col-md-10" >
        <b>improrte quoi</b>

        <br> 
        some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  
    </div>
</div>
</div>


<div class="collapse in auteur1 theme2">
<br>
<br>    
<div class="row article">   
    <div class="col-md-2" id="article">   
        <img id="logo" src="./images/logo.jpg" align="absmiddle">
    </div>
    <div class="col-md-10" >
        <b>improrte quoi</b>

        <br> 
        some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  
    </div>
</div>
</div>

<div class="collapse in auteur1 theme2">
<br>
<br>    
<div class="row article">   
    <div class="col-md-2" id="article">   
        <img id="logo" src="./images/logo.jpg" align="absmiddle">
    </div>
    <div class="col-md-10" >
        <b>improrte quoi</b>

        <br> 
        some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  some text ou n improrte quoi  
    </div>
</div>
</div>
<br>
<br>    











</div>


</div>

</div>



</div>



</div>
</section>



</div>










