<br>
<br>
<br>
<br>

<div class="container-fluid"  style="background-image: url(/media/{{section.media}}) ;     background-size: cover;">
    <div class="row">
        <div class="col-md-1 ">
        </div>
        <!-- --------------------pavé bleu------------------------------ -->
        <div class="col-md-9 col-md-offset-1 menu_eglisebethnoe">


            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="input-group-button">
                  <a href="{% url 'EnseignementsBibliques:EnseignementsBibliques' %}"><span class="input-group btn-group-lg">
                    <button class="btn btn-primary" type="button">Retour</button>
                </span> </a>
            </div>
        </div><!-- /input-group -->


        <div class="col-md-9" id="text_egliseBethnoe_3">
            {{section.titre}}                            
        </div>
        <br>
        <br>
        <br>
        <div class="col-md-10 col-md-offset-1 text-center">
            <p id="text_enseignement_biblique">
                {{section.content|safe}} 
            </p>
        </div>
    </div>
    <!-- --------------------pavé bleu------------------------------ -->
</div>
</div>

<div class="container-fluid eglisebethnoecontainer22">
    <div class="row">
        <div class="col-md-1">
        </div>

        <div class="col-md-9 col-md-offset-1  container_cadre">

            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-12">
                <br>
                <br>
                <div class="col-md-12 text-center">
                    <h4>{{ES.titre}}</h4>
                    <br>
                </div>
                <div class="col-md-12 col-lg-12 text-center">
                    <video id="really-cool-video" class="video-js vjs-default-skin vjs-big-play-centered" controls
                    preload="auto" width="500" max-height="500" poster="/media/{{ES.image}}"
                    data-setup='{}' margin='auto'>
                    <source src="/media/{{ES.media}}" type="video/mp4" >
                        <p class="vjs-no-js">
                         Pour regarder cette video, il faut un naviguateur internet à jour qui supporte HTML5 et javascript 
                     </p>
                 </video>
             </div>
             <div class="col-md-12">
                <br>
                <br>
                <p>
                    {{ES.content|safe}}
                </p>

            </div>
            <br>
            <br>

            <br>
            <br>
            <br> 

            <div class="col-md-12">

            </div>
        </div>

        <!---------------------------Contenu du même type---------------------->
        <div class="col-md-12">

            <h3>
                Contenu du même type
            </h3>
            <br>
        </div>








{% if same_auteur %}


        <div class="col-md-4">
        <h4>Même auteur</h4>            
         <div id="myCarousel1" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {% for es in same_auteur  %}
            {% if forloop.counter0 == 0 %}
            <li data-target="#myCarousel1" data-slide-to="{{forloop.counter0}}" class="active"></li>
            {% else %}
            <li data-target="#myCarousel1" data-slide-to="{{forloop.counter0}}" ></li>
            {% endif %}           
            {% endfor %}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">    

            {% for es in same_auteur %}    
            {% if forloop.counter0 == 0 %}

            <div class="item active">
              <a href="{% url 'EnseignementsBibliques:EnseignementsBibliquesDetail' slug=es.slug %}"> <img class="img-responsive center-block" id="image_carousel" src="/media/{{es.image}}" alt="{{es.titre}}" height="50px"> </a>
          </div>
          {% else %}

          <div class="item">
              <a href="{% url 'EnseignementsBibliques:EnseignementsBibliquesDetail' slug=es.slug %}"> <img class="img-responsive center-block" id="image_carousel" src="/media/{{es.image}}" alt="{{es.titre}}"  height="50px"> </a>
          </div>
          {% endif %}

          {% endfor %}
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br>
<br>
<br>
</div>

{% endif %}









{% if same_theme %}
        <div class="col-md-4">  
         <h4>Même thème</h4>           
         <div id="myCarousel2" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {% for es in same_theme  %}
            {% if forloop.counter0 == 0 %}
            <li data-target="#myCarousel2" data-slide-to="{{forloop.counter0}}" class="active"></li>
            {% else %}
            <li data-target="#myCarousel2" data-slide-to="{{forloop.counter0}}" ></li>
            {% endif %}           
            {% endfor %}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">    

            {% for es in same_theme %}    
            {% if forloop.counter0 == 0 %}

            <div class="item active">
              <a href="{% url 'EnseignementsBibliques:EnseignementsBibliquesDetail' slug=es.slug %}"> <img class="img-responsive center-block" id="image_carousel" src="/media/{{es.image}}" alt="{{es.titre}}" height="50px"> </a>
          </div>
          {% else %}

          <div class="item">
              <a href="{% url 'EnseignementsBibliques:EnseignementsBibliquesDetail' slug=es.slug %}"> <img class="img-responsive center-block" id="image_carousel" src="/media/{{es.image}}" alt="{{es.titre}}"  height="50px"> </a>
          </div>
          {% endif %}

          {% endfor %}
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>
{% endif %}












{% if same_auteur_same_theme %}

        <div class="col-md-4" >  
         <h4>Même auteur, même thème</h4>           
         <div id="myCarousel3" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {% for es in same_auteur_same_theme  %}
            {% if forloop.counter0 == 0 %}
            <li data-target="#myCarousel3" data-slide-to="{{forloop.counter0}}" class="active"></li>
            {% else %}
            <li data-target="#myCarousel3" data-slide-to="{{forloop.counter0}}" ></li>
            {% endif %}           
            {% endfor %}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">    

            {% for es in same_auteur_same_theme %}    
            {% if forloop.counter0 == 0 %}

            <div class="item active">
              <a href="{% url 'EnseignementsBibliques:EnseignementsBibliquesDetail' slug=es.slug %}"> <img class="img-responsive center-block" id="image_carousel" src="/media/{{es.image}}" alt="{{es.titre}}" height="50px"> </a>
          </div>
          {% else %}

          <div class="item">
              <a href="{% url 'EnseignementsBibliques:EnseignementsBibliquesDetail' slug=es.slug %}"> <img class="img-responsive center-block" id="image_carousel" src="/media/{{es.image}}" alt="{{es.titre}}"  height="50px"> </a>
          </div>
          {% endif %}

          {% endfor %}
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>

{% endif %}

<!---------------------------Contenu du même type---------------------->
</div>

</div>

</div>

<script>

    videojs('really-cool-video', {}, function() {
        var player = this;
        player.relatedCarousel([

            {% for es in same_auteur_same_theme  %}

          { imageSrc: "/media/{{es.image}}", url: "/media/{{es.media}}", title: "{{es.image}}" },

          {% endfor %}         

          ]);
    });

</script>