<br>
<br>
<br>
<div class="container-fluid" style="background-image: url(/media/{{section.media}}) ;     background-size: cover;">
  <section class="row egliseBN">

    <div class="fill-screen" style="max-height: 10px;">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1 ">
          </div>
          <!-- --------------------pavé bleu------------------------------ -->
          <div class="col-md-9 col-md-offset-1 menu_eglisebethnoe">
            <div class="col-md-9" id="text_egliseBethnoe_3">
              {{section.titre}}
            </div>
            <br>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-1 text-center">
              <p>
                {{section.content|safe|truncatechars_html:230}} 
              </p>
            </div>
          </div>
          <!-- --------------------pavé bleu------------------------------ -->

        </div>
      </div>

      <div>
      </div>
    </div>


      <div class="container-fluid eglisebethnoecontainer22">

        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-9 col-md-offset-2  col-xs-offset-3 container_cadre">
            <div class="col-md-1">
            </div>


            <div class="col-md-1">
            </div>

            <div class="col-md-12">

              <div class="col-md-7">
              </div>

              <div class="col-md-2">
                <div class="col-md-6 dropdown">
                </div>
              </div>

              <div class="col-md-2">
                <div class="col-md-6 dropdown">
                </div>         
              </div>

            </div>


            <div class="col-md-10 col-xs-offset-1 text content mCustomScrollbar  custom"> 


              {% for eglisePartenaire in  eglisePartenaires %}
              <div class="collapse in {{enseignementBiblique.auteur.slug}} {{enseignementBiblique.theme.slug}}">
                <div class="row article"> 

                 <div class="col-md-12" id="article"> 
                  <a href="{% url 'EnseignementsBibliques:EglisesPartenairesDetail' slug=eglisePartenaire.slug%}"><h4>{{eglisePartenaire.titre}} </h4></a> 

                </div>

                <div class="col-md-2" id="article"> 
                 <img id="logo" src="/media/{{eglisePartenaire.media}}" align="absmiddle">
               </div>
               <div class="col-md-10" >
                 {{eglisePartenaire.content|safe|truncatechars_html:230}}  
               </div>


             </div>

             <div  class="col-md-10" >

             </div>
           </div>
           <br>
           <br>
           {% endfor %}

           <div>


           </div>

         </div>

       </div>

     </div>

   </div>

</section>

</div>
